/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self



 */

body {
    /*background-color: #1a1a1a;*/
    background-color: #1a1a1a;
    background-image:  url("/assets/bg.jpg");
    background-size: 150px 150px;
}

@font-face {
    font-family: 'basic_comical_i';
    src: url('../fonts/BasicComicalMC/basic_comical_italic_nc.eot');
    src: url('../fonts/BasicComicalMC/basic_comical_italic_nc.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BasicComicalMC/basic_comical_italic_nc.woff') format('woff'),
    url('../fonts/BasicComicalMC/basic_comical_italic_nc.ttf') format('truetype');
}

@font-face {
    font-family: 'basic_comical_r';
    src: url('/assets/fonts/BasicComicalMC/basic_comical_regular_nc.eot');
    src: url('/assets/fonts//BasicComicalMC/basic_comical_regular_nc.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/BasicComicalMC/basic_comical_regular_nc.woff') format('woff'),
    url('/assets/fonts/BasicComicalMC/basic_comical_regular_nc.ttf') format('truetype');
}


/* font-family: "KelsonSansRegular"; */
/*@font-face {*/
    /*font-family: "KelsonSansRegular";*/
    /*src: url("../fonts/KelsonSansRegular/KelsonSansRegular.eot");*/
    /*src: url("../fonts/KelsonSansRegular/KelsonSansRegular.eot?#iefix")format("embedded-opentype"),*/
    /*url("../fonts/KelsonSansRegular/KelsonSansRegular.woff") format("woff"),*/
    /*url("../fonts/KelsonSansRegular/KelsonSansRegular.ttf") format("truetype");*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
/*}*/



/* font-family: "KelsonSansLight"; */
/*@font-face {*/
    /*font-family: "KelsonSansLight";*/
    /*src: url("../fonts/KelsonSansLight/KelsonSansLight.eot");*/
    /*src: url("../fonts/KelsonSansLight/KelsonSansLight.eot?#iefix")format("embedded-opentype"),*/
    /*url("../fonts/KelsonSansLight/KelsonSansLight.woff") format("woff"),*/
    /*url("../fonts/KelsonSansLight/KelsonSansLight.ttf") format("truetype");*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
/*}*/
/* font-family: "KelsonSansBold"; */
/*@font-face {*/
    /*font-family: "KelsonSansBold";*/
    /*src: url("../fonts/KelsonSansBold/KelsonSansBold.eot");*/
    /*src: url("../fonts/KelsonSansBold/KelsonSansBold.eot?#iefix")format("embedded-opentype"),*/
    /*url("../fonts/KelsonSansBold/KelsonSansBold.woff") format("woff"),*/
    /*url("../fonts/KelsonSansBold/KelsonSansBold.ttf") format("truetype");*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
/*}*/
/* == HEADER STYLES == */

.header {
    height: 50px;
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
}

.header img {
    height: 50px;
    width: auto;
}


.header-controls {
    width: 600px;
    float: right;
    margin-right: 30px;
}


.username-wrap {
    margin-left: 50px;
    width: 200px;
    vertical-align: baseline;
    font-size: 19px;
    line-height: 35px;
    display: block;
    float:left;
}

.header-buttons-wrap {
    width: 50px;
    float: left;
}
.header-buttons {
    height: 50px;

}

/* == HEADER STYLES ENDS */



/* == PAGE STYLES ==*/

.content {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.form-wrap {
    margin: 40px auto;
    width: 400px;
}

/* == PAGE STYLES ENDS ==*/







/* == COMMON RULES == */

.go-left {
    float: left;
}

.go-right {
    float: right;
}

.clearfix {
    clear: both;
}


.hoverable {
    display: inline-block;
    position: relative;
    clear: both;
}

.hoverable img {
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.hoverable .hover {
    opacity: 0;
}
.hoverable:hover .hover {
    opacity: 100;
}

.hoverable:hover .hover-none {
    opacity: 0;
}


.hoverable .hover, .hoverable .hover-none {
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    position: absolute;
}

/*.hoverable {*/
    /*display: inline-block;*/

/*}*/

/*.hoverable .hover {*/
    /*display: none;*/
/*}*/
/*.hoverable:hover .hover {*/
    /*display: inline-block;*/
/*}*/

/*.hoverable:hover .hover-none {*/
    /*display: none;*/
/*}*/

.relative-wrap {

    position: relative;
    margin-top: 55px;
}
.center-offset{
    position: absolute;
    top: 50%;
    width: 100%;
}


/* == COMMON STYLES ENDS == */


/* == REGISTRATION && AUTH STYLES == */

.reg-block {
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*margin-top: -50px;*/
    background-color: #ffffff;
}

.reg-block label {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 18px;
    width: 100%;
}

.reg-block input[type="text"], .reg-block input[type="email"], .reg-block input[type="password"] {
    display: inline-block;
    margin-bottom: 15px;
    width: 490px;
    background-color: #0d0d0d;
    color: #ffffff;
    height: 25px;
    text-align: center;
}

.reg-block a, .reg-block a:hover  {
    color: red;
    display: inline-block;
    margin: 3px;
}
.reg-block input[type="image"], input[type="submit"]  {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* == REGISTRATION && AUTH STYLES ENDS == */

/* == DEVISE ALERTS */

/*flash*/

.error-wrapper {
    padding-left: 5px;
    padding-right: 5px;
    margin: 25px auto;
    width: 490px;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: red;
    text-align: left;

}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

/* == DEVISE ALERTS ENDS */


