<p>Привет, <%= @resource.email %>!</p>

<p>Кто-то создал запрос на смену пароля. Вы можете изменить его на ссылке снизу.</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не хотите менять свой пароль, пожалуйста, проигнарируйте это письмо. </p>
<p>Ваш пароль не будет изменен, если вы не пройдете по ссылке и не измените его.</p>
