<p>Привет, <%= @resource.email %>!</p>

<p>Выш аккаунт был заблокирован в связи с чрезмерно большим количеством неудачных попыток авторизации.</p>

<p>Кликните по ссылке ниже, чтобы разблокировать ваш аккаунт:</p>

<p><%= link_to 'Разблокировать', unlock_url(@resource, unlock_token: @token) %></p>
