<div class="session-alert">
  <%= link_to 'Войдите', new_user_session_path %>
  <span>или</span>
  <%= link_to 'зарегистрируйтесь', new_registration_path(:user) %>
  <span>для общения в чате</span>
</div>