<% unless current_user %>
    <%= render "chat/session_alert" %>
<% end %>

<div class="pages">

    <div class="chatArea">
      <div class="room-msg-wrap">
        <div class="room-msg">
          <span class="room-msg-span"></span>
        </div>
        <div class="room-online-wrap">
          <span>Онлайн: </span>
          <span class="online-cnt">x</span>
        </div>
      </div>
      <ul class="messages"></ul>
    </div>
    <div>
      <% if current_user %>
          <input class="inputMessage" placeholder="Введите сообщение..."/>
      <% else %>
          <input class="inputMessage" disabled="disabled" placeholder="Зарегистрируйте или войдите, чтобы принять участие в беседе"/>
      <% end %>
      <button class="inputMessageBtn">Отправить</button>
    </div>

        <script>
            var authToken;
            <% if current_user %>
                var currentUser = '<%= current_user.username %>';
                console.log(currentUser);
                authToken = '<%= current_user.auth_token %>';
            <% end %>
            init( '<%= endpoint %>' , authToken)
        </script>

</div>

