/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "basic_comical_r",
    "Comic Sans MS",
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
    position: relative;
    top: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */



.pages {
    margin-top: 5%;
    height: 85%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: relative;
}

/*.page {*/
  /*position: absolute;*/
  /*width: 100%;*/
/*}*/

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 110%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
    height: inherit;
    background-color: #ffffff;
    /*font-family: 'KelsonSansBold';*/
}

.messages {
  font-size: 100%;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 65px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username-timestamp {
    float: left;
    font-weight: 700;
    overflow: hidden;
    padding-right: 5px;
    text-align: right;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
  cursor: pointer;
}

/* Input */

.inputMessage {
    display: block;
    margin: 1% 0;
    width: 90%;
    float: left;
  /*bottom: 0;*/
  /*height: 60px;*/
  /*left: 0;*/
  /*outline: none;*/
  /*padding-left: 10px;*/
  /*position: absolute;*/
  /*right: 0;*/
  /*width: 100%;*/
    height: 30px;
    outline-color: red;
    padding-left: 5px;
}

.inputMessageBtn {
    height: 30px;
    width: 10%;
    float: left;
    margin: 1% 0;
    color: red;

}

.message-highlight {
    background-color: #A1A1CC;
}

.room-msg-wrap {
    position: absolute;
    top: 0;
    height: 65px;
    overflow: hidden;
    width: 100%;

    z-index: 10;
    background-color: #ffffff;
    color: gray;
}
.room-msg {
    position: absolute;
    top: 0;
    height: 65px;
    width: 100%;
    overflow: hidden;

    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;

    -webkit-box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    box-sizing: padding-box;


    font-size: 110%;
    text-align: center;
}

.room-online-wrap {
    float: right;
    margin-right: 30px;
    margin-top: 15px;
    font-size: 90%;

}